In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle('./data/df')

In [3]:
df[df['valid'] == 'real'][:1]

                                                  pos label valid
15  [37, 66, 25, 1, 216, 3, 5060, 219, 27, 36, 85,...   neg  real

In [4]:
df[df['valid'] == 'fake'][:1]

                                                  pos label valid
15  [37, 12, 25, 1, 216, 48, 5060, 219, 767, 36, 5...   neg  fake